includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    phpVersion: 80300
    paths:
        - fleet-for-openstation.php
        - includes
        - apps
        - uninstall.php
    bootstrapFiles:
        - tests/quality/openstation-global-stubs.php
        - tests/quality/openstation-stubs.php
    excludePaths:
        analyse:
            - vendor
            - dist (?)
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
